@import "tailwindcss";

:root {
  --primary: #22c55e;
  --primary-dark: #16a34a;
  --primary-light: #bbf7d0;
  --secondary: #fde047;
  --secondary-dark: #ca8a04;
  --secondary-light: #fef9c3;
  --bg: #f9fafb;
  --sidebar-bg: #052e16;
  --sidebar-text: #bbf7d0;
}

body {
  background-color: var(--bg);
  font-family: var(--font-inter), sans-serif; /* Default Inter */
}

/* Headings use Poppins */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
}
@theme {
  --color-primary: #22c55e;
  --color-secondary: #fde047;
}
/* dark theme */
@custom-variant dark (&:where(.dark, .dark *));

/* Light mode (default) */
:root {
  --background: #ffffff;
  --foreground: #1c1c1d;
}

/* Dark mode */
.dark {
  --background: #1c1c1d;
  --foreground: #f1f5f9;
}

body {
  background: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}