@import "tailwindcss";

:root {
  --primary: #22c55e;
  --primary-dark: #16a34a;
  --primary-light: #bbf7d0;
  --secondary: #fde047;
  --secondary-dark: #ca8a04;
  --secondary-light: #fef9c3;
  --bg: #f9fafb;
  --sidebar-bg: #052e16;
  --sidebar-text: #bbf7d0;
}

body {
  background-color: var(--bg);
  font-family: var(--font-inter), sans-serif; /* Default Inter */
}

/* Headings use Poppins */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-poppins), sans-serif;
}
